.bold {
  font-weight: bold;
}

.muted {
  @extend .text-muted;  
}

.border-bottom {
  border-bottom: $base-border;
}

.border-top {
  border-top: $base-border;
}

.center-button {
  display: flex;
  justify-content: center;
}

.toolkit {
  background-color: #909090;
  flex: 0 0 100px;
  padding: 10px;
  margin-left: 15px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .row {
    margin: 15px 26px;
  }

  .upload-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  input:hover {
    cursor: pointer;
  }

  input {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
  }
}

.menu {
  position: absolute;
  height: 105px;
  width: 175px;
  padding: 10px;
  background-color: #3D3D3D;
  border-radius: 5px;
  z-index: 500;
  display: none;

  .header {
    color: white;
  }

  input {
    width: 155px;
    background: transparent;
    color: white;
    border: 0 none;
    border-bottom: 2px solid #346FA7;
    height: 25px;
  }

  .buttons {
    margin: 5px 0;
  }
}

/* navbar */
.navbar-default {
    background-color: #dd7921;

    h1 {
      color: #ffffff;
      letter-spacing: 1px;
    }
}

#previewImage {
  max-height: 928px;
  max-width: 1200px;
}

.activityWrapper {
  flex-grow: 0;
  margin: 10px;
  margin-right: 40px;
}

body {
  background-color: #5A5A5A;
  height: 100vh; /* For 100% screen height */
  width:  100vw; /* For 100% screen width */

  .body {
    height: 85%;
  }
}

a {
  cursor: pointer;
}

.inverted{
  filter: invert(100%);
}

.box {
  position: absolute;
}

.corner {
  position: absolute;
  height: 8px;
  width: 8px;
}

.modal-header {
  justify-content: flex-start;
  position: relative;

  h5 {
    position: absolute;
    left: 43%;
  }
}

.modal-footer {
  border-top: 0;

  .btn-primary {
    color: black;
  }
}

.card-col {
  display: inline-block;
  margin: 0 auto;
}

.ex {
  display: none;
}
