<div class="modal fade" id="missing-selections-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title bold" id="exampleModalLabel">Oh vaya..</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <b>¡ Aún no has seleccionado algo!</b> <br>
          Haz selecciones sobre la imagen antes de exportar
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary inverted" data-dismiss="modal">Okas lokas</button>
      </div>
    </div>
  </div>
</div>