<div class="text-center">
  <h1 class="mt-4">BeerTagger</h1>
  
  <div id="imageContainer" class="pt-4">
    <input id="imgUpload" type="file" onchange="preview_image()">
    <br>
    <img src="" height="600">
  </div>
</div>

<div id="menu">
  <div class="header">
    Add tag
  </div>
  <textarea></textarea>
  <div class="buttons">
    
  </div>
</div>